.App {
  margin: 20px;
  margin: 30px auto;
  margin
}
body {
background: rgb ((218, 226, 161), rgb(159, 219, 165));
}

h1 {
  color: #24643b;
  font-size: 35px;
  font-weight: 100;
  font-weight: bolder;
  line-height: 28px;
  margin-bottom: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #135833;
  font-size: 18px;
  font-weight: 100;
  line-height: 19px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana
  
}
li:first-letter {
  text-transform: capitalize;
}
